// ############################
// COLORS
// ############################

// MAIN COLORS
$color-white: #FFFFFF;
$color-blue-1: #132742;
$color-blue-2: #0A192D;
$color-orange: #FF7B29;

// GRAYS
$color-text-1: #6A6F77;
$color-text-2: #676A6C;
$color-text-3: #4D4F56;
$color-text-4: #777F8B;   
$color-text-5: #697280;
$color-text-6: #2D3134;
$color-text-7: #8A8A8A;
$color-text-8: #747474;
$color-text-9: #ECECEC;
$color-text-10: #020000;

// TITLE
$color-title-1: #2D3134;
$color-title-2: #263FA4;

$color-outline-1: #30BBD7; 
$color-outline-2: #31C3E0; 

// ############################
// FONTS
// ############################
$main-font: 'Poppins', sans-serif;

// ############################
// SPACING
// ############################
$general-gap: 5rem;

// ############################
// SIZES
// ############################
$phoneSize: 480px;
$landscapeSize: 900px;
$tabletSize: 768px;
$desktopSize: 1024px;