@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {

  &__container {
    @include m.grid(4, 1.2rem );
    place-items: start;

    @include m.phone {
      @include m.grid(2, 3.2rem);
      place-items: unset;
    }

  }

  &__subtitle {
    color: v.$color-text-10;
    font-weight: 600;
    margin-bottom: 3.2rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__link {
    color: v.$color-text-2;
    transition: .3s;
  
    &:hover {
      color: v.$color-text-6;
    }
  }

  &__text {
    line-height: 1.7;
    color: v.$color-text-2;
    margin-bottom: 1.6rem;
  }

  &__email {
    color: v.$color-outline-1;
    font-weight: 700;
  }

  &__navigation {
    padding-bottom: 5rem;
    display: flex;
    justify-content: space-between;

    @include m.phone {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3.2rem;
    }
  }

  &__social {
    display: flex;
    gap: 1.6rem;
    font-size: 2.4rem;
    color: v.$color-text-1;
    
    i {
      transition: .3s;
      cursor: pointer;

      &:hover {
        color: v.$color-text-6;
      }
    }
  }

}